__pycache__/
*.py[cod]
*$py.class

*.egg-info/
dist/
build/

.venv/
venv/
ENV/
.env
.env.*

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.coverage
coverage.xml
htmlcov/

.ipynb_checkpoints/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

airflow-docker/logs/
airflow-docker/plugins/**/__pycache__/
airflow-docker/dags/**/__pycache__/

airflow-docker/data/bronze/
airflow-docker/data/silver/
airflow-docker/data/gold/
airflow-docker/data/checkpoints/
airflow-docker/data/_temporary/
airflow-docker/data/**/_delta_log/
airflow-docker/data/output/

spark-cluster/data/output/
spark-cluster/data/_temporary/
spark-cluster/data/bronze/
spark-cluster/data/silver/
airflow-docker/data/gold/
spark-cluster/data/**/_delta_log/

*.log
